body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
}

.navbar ul {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}

.navbar ul li a {
	color: #231f20;
}

.homepage .container .row:nth-child(1) {
	/* width: 98%; */
	align-items: center;
	justify-content: center;
	margin: auto;
}

.homepage .container .row .top-bar {
	width: 90%;
	justify-content: space-between;
	align-items: center;
}

.homepage .container .row .top-bar .details {
	margin-bottom: 0;
	justify-content: space-between;
	width: auto;
}

.homepage .container .row .top-bar .details h2 {
	margin-bottom: 0;
}

.homepage .container .row .top-bar .details p {
	margin-bottom: 0;
	font-size: 14px;
	margin-left: 2rem;
}

.homepage .container .row .top-bar .company-name img {
	width: 75%;
	margin: 1rem 0;
}

.btn-appointment button {
	background-color: #5c6971;
	color: #ffffff;
	border-radius: 5px;
	font-size: 1rem;
	border: none;
	padding: 0.6rem 2rem;
}

.homepage .hero-section {
	/* background: url("./images/team-banner.png"); */
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100vw;
	height: 800px;
}

.homepage .hero-section .bg-img {
	height: 800px;
}

.homepage .hero-section .hero-top .top {
	display: flex;
	width: 85%;
	position: relative;
	top: -800px;
	align-items: start;
	justify-content: space-around;
	text-align: center;
	margin: auto;
	color: #b7be3d;
	font-size: 15px;
	padding-top: 2rem;
}

.homepage
	.hero-section
	div:not(.homepage .hero-section .divider1, .homepage .hero-section .content) {
	padding: 1.5rem;
}

.homepage .hero-section .hero-top p {
	margin: 5px;
}

.homepage .hero-section .hero-top .extra-text {
	color: #ffffff;
	font-size: 12px;
}

.homepage .hero-section .hero-top .divider1 {
	width: 1px;
	height: 110.8px;
	opacity: 0.2;

	background: #3f4a50;
	background: linear-gradient(180deg, #3f4a50 0%, #ffffff 27.8%, #ffffff 71.3%, #3c4951 100%);
}

.homepage .hero-section .content {
	position: relative;
	width: 100%;
	top: -1000px;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 20%;
	margin: auto;
}

.homepage .hero-section .content div {
	width: 45%;
	margin: auto;
}

.homepage .hero-section .content p {
	filter: drop-shadow(0px 0px 12.5px rgba(0, 0, 0, 0.81));
	color: #ffffff;
}

.homepage .hero-section .content h2 {
	filter: drop-shadow(2px 2px 0px #0000003b);
	font-size: 48px;
	color: #ccd356;
}

.homepage .hero-section .content h2 span {
	display: flex;
	flex-direction: column;
	font-size: 35px;
}

.homepage .comment-section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #fcfcfc;
	background: linear-gradient(180deg, #fcfcfc 0%, #fcfcfc 63.26%, #efefef 100%);
	height: 100%;
    padding-bottom: 100px;
}

.homepage .comment-section .top-line {
	background-color: #b7be3d;
	width: 75px;
	height: 2px;
	margin: 2rem auto;
}

.homepage .comment-section h2 {
	font-size: 50px;
	color: #b7be3d;
	font-weight: 550;
	font-family: "Vollkorn";
}

.homepage .comment-section .rate {
	font-size: 50px;
}

.card-comment .col-lg-4 {
	padding: 0 15px;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.card-comment .card {
	flex: 1;
	background: #f8f9fa;
	border-color: rgba(185, 194, 48, 0.7);
	border-width: 1px;
	border-style: solid;
	background: #ffffff;
	color: #231f20ce;
}

.card-comment .card .col-2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-comment .card .col-10 {
	padding: 20px;
}

.card-comment .card img {
	border-radius: 50%;
}

.homepage .about-section {
	position: relative;
}

.homepage .about-section .container-fluid {
    padding: 0;
    margin: 0;
    height: auto;
    background-color: #0000003b;
}

.homepage .about-section .container-fluid img {
	width: 100vw !important;
    z-index: -1;
}

.homepage .about-section .container-fluid .divider1 {
    position: absolute;
    top: 20%;
    left: 25.5%;
    z-index: 999;
    background-color: #b7be3d;
	width: 75px;
	height: 2px;
	margin: 1rem auto 3rem auto;
}

.homepage .about-section .container-fluid h2 {
    width: 35%;
    text-align: left;
    position: absolute;
    top: 30%;
    left: 25.5%;
	font-size: 50px;
	color: #b7be3d;
	font-weight: 550;
}

.homepage .about-section .container-fluid p {
    position: absolute;
    width: 35%;
    text-align: left;
    top: 55%;
    left: 25.5%;    
}

.homepage .about-section .container-fluid .btn-about  button{
    position: absolute;
    top: 85%;
    left: 25.5%;
    background-color: #5c6971;
	color: #ffffff;
	border-radius: 5px;
	font-size: 1rem;
	border: none;
	padding: 0.6rem 2rem;
}

.homepage .learnmore-section {
    position: relative;
    margin-top: 1rem;
}

.homepage .learnmore-section .row .card {
    width: 90%;
    border: 1px solid #b7be3d;
    border-radius: 5px;
}
